@charset "UTF-8";
html,
body {
  font-family: Regular, sans-serif;
  margin: 0;
}

h1 {
  font-family: Bold, sans-serif;
  font-size: 1rem;
}

p {
  font-family: Book, sans-serif;
  max-width: 480px;
  font-weight: normal;
  opacity: 0.8;
  word-break: keep-all;
}

p.intro {
  font-family: Bold, sans-serif;
  opacity: 1;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background: #fff;
  color: #191c4a;
}

.content {
  width: 60vw;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 0 3rem;
}
.visual {
  width: 40vw;
  height: 100vh;
  background: #7d41fe;
}

.logo {
  width: 96px;
  height: 64px;
  background: url(logo-light.svg);
  background-size: 96px 64px;
  margin-bottom: 2rem;
}

@media (prefers-color-scheme: dark) {
  .content {
    background: #191c4a;
    color: #fff;
  }

  .logo {
    width: 96px;
    height: 64px;
    background: url(logo-dark.svg);
    background-size: 96px 64px;
  }
}
